# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 忽略.DS_Store文件
.DS_Store
*.autosave
.qmake.stash

Makefile
Makefile.Debug
Makefile.Release
jamLib/jamLib.pro.user
jamLib/jamLib.pro.user.*
/build-jamLib-Desktop_Qt_5_12_3_clang_64bit-Debug/
*.user
jamLib/jamLib.pro.user
